.logo {
  margin: 70px auto;
  width: max-content;
}
.Header {
  width: 100%;
  max-height: 100%;
  background-image: url("Image/bgpeach.png");
  position: sticky;
  padding: 10px 0;
  color: black;
  box-sizing: border-box;
}

/*Navigation menu*/

.Nav {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  line-height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Nav a {
  padding: 10px 30px;
}
.Nav a:hover,
.Nav a:active {
  background-color: peachpuff;
  color: white;
}
.Nav a:visited,
.Nav a:link {
  color: grey;
}
div {
  min-height: 100%;
}

#PersonalInfo {
  background-image: url("Image/3672686.jpg");
  max-height: 100vh;
}
.MyInfo {
  display: flex;
}
#fullName {
  padding: 50px 10%;
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-shadow: 1px 1px white;
  font-size: 300%;
  width: 50%;
  margin: 0;
}
.AboutMe {
  text-align: left;
  padding: 0 10px;
  width: 40%;
  font-family: Georgia;
  margin: 0 50px;
}
.subhead::first-letter{
  initial-letter: 3;
}
.AboutMe p{
  font-size: 150%;

}
.AboutMe h1 {
  padding: 100px 0 30px 0;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 300%;
  color: black;
  text-shadow: 1px 1px white;
  text-decoration: underline;
}
.MyPhoto img {
  height: 60%;
  width: auto;
  border-radius: 50px;
  margin: auto;
  display: block;
}

.page {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 50%;
  min-width: auto;
  padding: 20px;
}
.conversion {
  flex: 2 1 auto; /* Adjust width as needed */
  margin-bottom: 20px; /* Add some space between conversion sections */
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-left: 20px;
}
footer {
  background-image: url("Image/PastelYellow.jpg");
  min-height: 10vh;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
}
#myCV{
  font-family: 'Calibri';
  font-size: 100%;
  text-decoration: underline;
}
#myCV a,a:visited,a:link,a:active
{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#myCV a:hover{
  color: grey;
}

.contact-info h2 
{
  margin: 0;
}
.contact-info a,a:visited,a:link,a:active
{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.contact-info a:hover
{
  color: grey;
}
.social-media {
  width: 30%
}
.contact-info {
  margin-left: 40px;
  width: 65%;
}

.social-media p {
  margin-bottom: 5px;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
}

.social-media ul li a:hover {
  color: grey;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

form {
  border: solid black;
  padding: 10px 10px;
  border-radius: 10px;
}

.calculatorTool,
.unitConverter {
  background-image: url("Image/3672686.jpg");
}
.BMIChecker,
.zakatCalculator {
  background-image: url("Image/PastelYellow.jpg");
}

#Output {
  color: white;
  width: 20%;
  text-align: center;
  margin: auto;
  font-size: xx-large;
  border-radius: 10px;
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: "Lucida Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Regular"), url("LSANS.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Italic"), url("LSANSI.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Demibold Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Demibold Roman"), url("LSANSD.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Demibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Demibold Italic"), url("LSANSDI.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Typewriter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Regular"), url("LTYPE.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Unicode Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Unicode Regular"), url("l_10646.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Typewriter Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Oblique"),
    url("LTYPEO.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Typewriter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Bold"), url("LTYPEB.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Typewriter Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Bold Oblique"),
    url("LTYPEBO.woff") format("woff");
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: "Spline Sans Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Spline Sans Mono Regular"),
    url("SplineSansMono[wght].woff") format("woff");
}

@font-face {
  font-family: "Spline Sans Mono Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Spline Sans Mono Italic"),
    url("SplineSansMono-Italic[wght].woff") format("woff");
}

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
